body {
    padding-bottom: 5rem;
}

.left {
    float: left;
}

.right {
    float: right;
}

span#share {
    position: absolute;
    padding: 0 1.5rem;
    right: 0;
    top: 0;
    padding-top: 2.6rem;
    background: url(../img/shareJob.png) no-repeat;
    background-size: 1.7rem auto;
    background-position: center .6rem;
    font-size: 1rem;
    color: #31c27c;
}

header {
    border: 0;
    box-shadow: 0px 3px 10px -3px #868484;
    -moz-box-shadow: 0px 3px 10px -3px #868484;
    -webkit-box-shadow: 0px 3px 10px -3px #868484;
}

.grapHeader {
    color: #fff;
    background: url(../img/jobbg.png) no-repeat;
    background-size: cover;
}

.grapHeader .headTop h4 {
    font-size: 1.7rem;
}

.grapHeader .headTop h4 span {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.grapHeader .headBottom {
    width: 100%;
    display: flex;
    display: -webkit-flex;
}

.grapHeader .headBottom li {
    flex: 1;
    text-align: center;
    font-size: 1.3rem;
    position: relative;
}

.grapHeader .headBottom li:not(:last-child):after {
    position: absolute;
    right: 0;
    top: 1rem;
    content: "";
    width: 1px;
    height: 2.4rem;
    background: #ffcbb0;
}

.grapHeader .headBottom li p {
    margin-bottom: .7rem;
}

.grapHeader .headBottom li p.lin02 {
    color: #ffeade;
    margin-bottom: 1.3rem;
}

.headTop {
    height: 8rem;
    line-height: 8rem;
    padding-left: 1.5rem;
}

.grapSection {
    font-size: 1.5rem;
}

.grapSection .grapWrapper {
    margin: 1.2rem 0;
    padding: 0 1.5rem;
    background: #fff;
}

.grapSection .grapWrapper h5 {
    height: 4.4rem;
    line-height: 4.4rem;
    border-bottom: 1px solid #efeff4;
}

.grapSection .grapWrapper ul.demandLists {
    padding-top: 1rem;
    overflow: hidden;
}

.grapSection .grapWrapper ul li {
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 1rem;
}

p.paragraph {
    color: #888;
}

.grapSection .grapWrapper ul li h6 {
    float: left;
    width: 7.5rem;
    color: #888;
}

.grapSection .grapWrapper ul li .demandRight {
    padding-left: 7.5rem;
    display: block;
}

.footer {
    border-top: 1px solid #d7d7d7;
    height: 4.9rem;
    line-height: 4.9rem;
    background: #fff;
    color: #bcbcbc;
    padding: 0 1.5rem;
    font-size: 1.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.mendian {
    padding-right: 10.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mobile {
    position: absolute;
    right: 1.5rem;
    top: 0;
}

a.mobileBtn {
    height: 3.2rem;
    line-height: 3.2rem;
    border-radius: .3rem;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    background: #31c27c;
    color: #fff;
    padding: 0 1.3rem;
}

a.mobileBtn span {
    display: inline-block;
    padding-left: 2rem;
    background: url(../img/jobphone0.png) no-repeat;
    background-size: 1.3rem auto;
    background-position: left center;
}

.shareRedPacket-pop {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 200;
    display: none;
}

.shareRedPacket-pop .shareArrow {
    position: absolute;
    right: 1rem;
    padding-top: 7rem;
    background: url(../img/shareArrow.png) no-repeat;
    background-size: 4.7rem 5.55rem;
    background-position: 1.4rem 1rem;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.activityRules {
    margin-top: 13rem;
    color: #fff;
}

.activityRules h1 {
    font-size: 2rem;
    margin-bottom: 3.5rem;
    padding-left: 3.6rem;
}

.activityRules ul {
    padding-left: 5rem;
}

.activityRules ul li {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
}

.activityRules ul li img {
    width: 27rem;
    height: auto;
    margin-top: .5rem;
}